@model ElarosApp.Models.PatientModel

<span class="text-secondary p-1 small">Logged in as: <span class="text-success">@Model.ReferalCode</span></span>





<div class="container">
    <form method="post" asp-controller="Questions" asp-action="OnPost">

        <div class="container text-center">

            @if (Model.Question != null)
            {
                <h1 class="text-left">Question @Model.QuestionId:</h1>
                <p class="font-weight-bold lead">@Model.Question.QuestionContent</p>
            }
            else
            {
                <h1>QuestionId is null</h1>
                <p>QuestionContent is null</p>
            }

            <br />
            <br />
            <br />
            <span class="font-italic">*Blank space left for the answer section*</span><br />
            <br />
            <br />
            <br />

            <div class="row justify-content-around">
                @*<div class="col-3">*@
                <button type="submit" class="btn btn-sm btn-outline-secondary" name="submitButton" value="PreviousQuestion">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="22" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                    </svg> Previous Question
                </button>
                @*</div>*@
                @*<div class="col-3">*@
                    <a asp-action="Logout" asp-controller="Home" class="btn btn-danger px-5 btn-sm"> <span class="small">Logout</span></a>
                @*</div>*@
                @*<div class="col-3">*@
                    <button type="submit" class="btn btn-sm btn-outline-primary" name="submitButton" value="NextQuestion">
                        Next Question
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="22" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                        </svg>
                    </button>
                @*</div>*@
            </div>
        </div>
    </form>
</div>

