@model ElarosApp.Models.ViewModel


<span class="text-secondary p-1 small">Logged in as: <span class="text-success">@Model.PatientModel.ReferalCode</span></span>

@if (Model.PatientModel.Question != null)
{
    <h1 class="text-left display-4 bg-light text-secondary pb-1 pt-1 px-3 font-italic">Question - @Model.PatientModel.QuestionId:</h1>
}
else
{
    <h1 class="text-left display-4">Null Question:</h1>
}

<div class="container">
    <div class="row position-relative m-4">
        <div class="col-12">
            <div class="progress progress-bar-striped active" style="height: 25px;">
                @{int barValue = (int)Math.Round((((double)Model.PatientModel.QuestionId / 18.0) * 100), 0);}
                <div class="progress-bar progress-bar-animated progress-bar-striped active bg-success box-shadow" id="ProgresBar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: @barValue%;"><span class="lead font-weight-bold text-light">@barValue%</span></div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <form method="post" asp-controller="Questions" asp-action="OnPost">

        <div class="container text-center">
            @{
                if (Model.isDataNull)
                {
                    <p class="font-weight-bold text-danger">You must answer all the questions!</p>
                }
            }

            @if (Model.PatientModel.Question != null)
            {


                //<p class="font-weight-bold lead">@Model.Question.QuestionContent</p>

                if (!String.IsNullOrEmpty(Model.PatientModel.Question.QuestionContent))
                {
                    <p class="font-weight-bold lead">@Model.PatientModel.Question.QuestionContent</p>
                }
            }
            else
            {
                <h1>QuestionId is null</h1>
                <p>QuestionContent is null</p>
            }

            @{
                        switch (Model.PatientModel.QuestionId)
                        {

                            case 1:
                            Model.AnswerModel.CheckboxAnswers = new List<bool?>() { false, false };
                            Model.AnswerModel.TextboxAnswers = new List<string>() { "", "" };

                        <div class="form-check form-check-inline">
                            <input asp-for="AnswerModel.CheckboxAnswers[0]" class="form-check-input" type="radio" id="inlineRadio1" value=true>
                            <label class="form-check-label" for="inlineRadio1">Yes</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input asp-for="AnswerModel.CheckboxAnswers[0]" class="form-check-input" type="radio" id="inlineRadio2" value=false>
                            <label class="form-check-label" for="inlineRadio2">No</label>
                        </div>

                        <br />
                        <div class="form-group col-12 mt-3">
                            <label for="Textarea1" class="lead font-weight-bold">If yes, please elaborate further if you are comfortable doing so:</label>
                            <textarea asp-for="AnswerModel.TextboxAnswers[0]" class="form-control" id="Textarea1" style="resize: none; margin-left:auto; margin-right:auto;" rows="3"></textarea>
                        </div>

                        <div class="form-group col-12 mt-3">
                            <label for="OpenQ2" class="lead font-weight-bold">Have you used any other health services to manage COVID-19 symptoms (e.g. your GP?)</label>
                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[1]" class="form-check-input" type="radio" id="inlineRadio3" value=true>
                                <label class="form-check-label" for="inlineRadio3">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[1]" class="form-check-input" type="radio" id="inlineRadio4" value=false>
                                <label class="form-check-label" for="inlineRadio4">No</label>
                            </div>
                        </div>

                        <br />
                        <div class="form-group col-12 mt-3">
                            <label for="Textarea1" class="lead font-weight-bold">If yes, please elaborate further if you are comfortable doing so:</label>
                            <textarea asp-for="AnswerModel.TextboxAnswers[1]" class="form-control" id="Textarea1" style="resize: none; margin-left:auto; margin-right:auto;" rows="3"></textarea>
                        </div>
                        break;
                    case 2:

                        Model.AnswerModel.NumberAnswers = new List<string>() { "", "", "", "", "", "" };
                        <div class="form-group">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col">State</th>
                                        <th scope="col">Pre-Covid</th>
                                        <th scope="col">Post-Covid</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style= "font-family: 'Times New Roman'; font-size: 20px;">At Rest?</td>
                                        <td>
                                            <div class="form-group col-md-4 ml-auto mr-auto">
                                                <label for="inputState">0 - 10</label>
                                                <select asp-for="AnswerModel.NumberAnswers[0]" id="inputState" class="form-control" style="width: auto">
                                                    <option value="0" selected>0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group col-md-4 ml-auto mr-auto">
                                                <label for="inputState">0 - 10</label>
                                                <select asp-for="AnswerModel.NumberAnswers[1]" id="inputState" class="form-control" style="width: auto">
                                                    <option value="0" selected>0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style= "font-family: 'Times New Roman'; font-size: 20px;">On dressing yourself?</td>
                                        <td>
                                            <div class="form-group col-md-4 ml-auto mr-auto">
                                                <label for="inputState">0 - 10</label>
                                                <select asp-for="AnswerModel.NumberAnswers[2]" id="inputState" class="form-control" style="width: auto">
                                                    <option value="0" selected>0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group col-md-4 ml-auto mr-auto">
                                                <label for="inputState">0 - 10</label>
                                                <select asp-for="AnswerModel.NumberAnswers[3]" id="inputState" class="form-control" style="width: auto">
                                                    <option value="0" selected>0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style= "font-family: 'Times New Roman'; font-size: 20px;">On walking up a flight of stairs?</td>
                                        <td>
                                            <div class="form-group col-md-4 ml-auto mr-auto">
                                                <label for="inputState">0 - 10</label>
                                                <select asp-for="AnswerModel.NumberAnswers[4]" id="inputState" class="form-control" style="width: auto">
                                                    <option value="0" selected>0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group col-md-4 ml-auto mr-auto">
                                                <label for="inputState">0 - 10</label>
                                                <select asp-for="AnswerModel.NumberAnswers[5]" id="inputState" class="form-control" style="width: auto">
                                                    <option value="0" selected>0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <br />
                        break;
                    case 3:
                        Model.AnswerModel.NumberAnswers = new List<string>() { "" };
                        Model.AnswerModel.CheckboxAnswers = new List<bool?>() { false, false, false };

                        <div class="form-group col-12 mt-3">
                            <label for="coughQ1" class="lead" style= "font-family: 'Times New Roman'; font-size: 20px;">cough/ throat sensitivity</label> <br />
                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[0]" class="form-check-input" type="radio" id="inlineRadio1" value=true>
                                <label class="form-check-label" for="inlineRadio1">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[0]" class="form-check-input" type="radio" id="inlineRadio2" value=false>
                                <label class="form-check-label" for="inlineRadio2">No</label>
                            </div>
                        </div>

                        <div class="form-group col-12 mt-3">
                            <label for="coughQ2" class="lead" style= "font-family: 'Times New Roman'; font-size: 20px;">voice change</label> <br />
                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[1]" class="form-check-input" type="radio" id="inlineRadio3" value=true>
                                <label class="form-check-label" for="inlineRadio3">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[1]" class="form-check-input" type="radio" id="inlineRadio4" value=false>
                                <label class="form-check-label" for="inlineRadio4">No</label>
                            </div>
                        </div>

                        <div class="form-group col-12 mt-3">
                            <label for="coughQ3" class="lead" style= "font-family: 'Times New Roman'; font-size: 20px;">noisy breathing</label> <br />
                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[2]" class="form-check-input" type="radio" id="inlineRadio5" value=true>
                                <label class="form-check-label" for="inlineRadio5">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[2]" class="form-check-input" type="radio" id="inlineRadio6" value=false>
                                <label class="form-check-label" for="inlineRadio6">No</label>
                            </div>
                        </div>

                        <div class="input-group row">
                            <p class="col-8" style= "font-family: 'Times New Roman'; font-size: 18px;">Rate the severity of this problem (0 being not present, 10 being severe and life disturbing) </p>
                            <select asp-for="AnswerModel.NumberAnswers[0]" id="inputState" class="form-control">
                                <option value="0" selected>0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>

                        <br />
                        break;

                    case 4:

                        Model.AnswerModel.NumberAnswers = new List<string>() { "" };
                        Model.AnswerModel.CheckboxAnswers = new List<bool?>() { false, false };

                        <div class="form-group col-12 mt-3">
                            <label for="SwallingQ1" class="lead" style= "font-family: 'Times New Roman'; font-size: 20px;">Are you having difficulties eating, drinking or swallowing such as coughing, choking or avoiding any food or drinks?</label>
                            <br />
                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[0]" class="form-check-input" type="radio" id="inlineRadio1" value=true>
                                <label class="form-check-label" for="inlineRadio1">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[0]" class="form-check-input" type="radio" id="inlineRadio2" value=false>
                                <label class="form-check-label" for="inlineRadio2">No</label>
                            </div>
                        </div>

                        <div class="input-group row">
                            <p class="col-9" style= "font-family: 'Times New Roman'; font-size: 18px;">Rate the severity of swallowing problem (0 being no symptom, 10 being severe and life disturbing) </p>
                            <select asp-for="AnswerModel.NumberAnswers[0]" id="inputState" class="form-control">
                                <option value="0" selected>0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>

                        <div class="form-group col-12 mt-3">
                            <label for="SwallingQ2" class="lead" style= "font-family: 'Times New Roman'; font-size: 18px;">Are you or your family concerned that you have ongoing weight loss or any ongoing nutritional concerns as a result of Covid-19?</label> <br>
                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[1]" class="form-check-input" type="radio" id="inlineRadio3" value=true>
                                <label class="form-check-label" for="inlineRadio3">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[1]" class="form-check-input" type="radio" id="inlineRadio4" value=false>
                                <label class="form-check-label" for="inlineRadio4">No</label>
                            </div>
                        </div>

                        <br />
                        break;
                    case 5:
                        Model.AnswerModel.NumberAnswers = new List<string>() { "", "" };
                        @*<div class="form-group col-12 mt-3">
                        <label for="FatigueQ1" class="lead">Do you become fatigued more easily compared to before your illness?</label>
                        <br />
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">Yes</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">No</label>
                        </div>
                    </div>*@

                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">State</th>
                                    <th scope="col">Pre-Covid</th>
                                    <th scope="col">Post-Covid</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Rate the severity of fatigue (0 being not present, 10 being severe and life disturbing)</td>
                                    <td>
                                        <div class="form-group col-10 ml-auto mr-auto">
                                            <label for="inputState">0 - 10</label>
                                            <select asp-for="AnswerModel.NumberAnswers[0]" id="inputState" class="form-control">
                                                <option value="0" selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-10 ml-auto mr-auto">
                                            <label for="inputState">0 - 10</label>
                                            <select asp-for="AnswerModel.NumberAnswers[1]" id="inputState" class="form-control">
                                                <option value="0" selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        break;
                    case 6:
                        Model.AnswerModel.NumberAnswers = new List<string>() { "" };
                        Model.AnswerModel.CheckboxAnswers = new List<bool?>() { false, false };

                        <div class="form-group col-12 mt-3">
                            <label for="ContinenceQ1" class="lead" style= "font-family: 'Times New Roman'; font-size: 20px;">Controlling your bowel </label>
                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[0]" class="form-check-input" type="radio" id="inlineRadio1" value=true>
                                <label class="form-check-label" for="inlineRadio1">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[0]" class="form-check-input" type="radio" id="inlineRadio2" value=false>
                                <label class="form-check-label" for="inlineRadio2">No</label>
                            </div>
                        </div>

                        <div class="form-group col-12 mt-3">
                            <label for="ContinenceQ2" class="lead" style= "font-family: 'Times New Roman'; font-size: 20px;">Controlling your bladder </label>
                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[1]" class="form-check-input" type="radio" id="inlineRadio3" value=true>
                                <label class="form-check-label" for="inlineRadio3">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[1]" class="form-check-input" type="radio" id="inlineRadio4" value=false>
                                <label class="form-check-label" for="inlineRadio4">No</label>
                            </div>
                        </div>

                        <div class="input-group row">
                            <p class="col-8" style= "font-family: 'Times New Roman'; font-size: 18px;">Rate the severity of continence problem (0 being not present, 10 being severe and life disturbing) </p>
                            <select asp-for="AnswerModel.NumberAnswers[0]" id="inputState" class="form-control">
                                <option value="0" selected>0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>

                        <br />
                        break;
                    case 7:

                        Model.AnswerModel.NumberAnswers = new List<string>() { "", "" };
                        Model.AnswerModel.CheckboxAnswers = new List<bool?>() { false };

                        <div class="form-group col-12 mt-3">
                            <label for="PainQ1" class="lead" style= "font-family: 'Times New Roman'; font-size: 20px;">Have you got any pain that is new since contracting the illness?</label>
                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[0]" class="form-check-input" type="radio" id="inlineRadio1" value=true>
                                <label class="form-check-label" for="inlineRadio1">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[0]" class="form-check-input" type="radio" id="inlineRadio2" value=false>
                                <label class="form-check-label" for="inlineRadio2">No</label>
                            </div>
                        </div>

                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">State</th>
                                    <th scope="col">Pre-Covid</th>
                                    <th scope="col">Post-Covid</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style= "font-family: 'Times New Roman'; font-size: 18px;">Rate the severity of pain (0 being no pain or discomfort, 10 being severe and life disturbing pain)</td>
                                    <td>
                                        <div class="form-group col-10 ml-auto mr-auto">
                                            <label for="inputState">0 - 10</label>
                                            <select asp-for="AnswerModel.NumberAnswers[0]" id="inputState" class="form-control">
                                                <option value="0" selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-10 ml-auto mr-auto">
                                            <label for="inputState">0 - 10</label>
                                            <select asp-for="AnswerModel.NumberAnswers[1]" id="inputState" class="form-control">
                                                <option value="0" selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        break;
                    case 8:
                        Model.AnswerModel.NumberAnswers = new List<string>() { "" };
                        Model.AnswerModel.CheckboxAnswers = new List<bool?>() { false, false };

                        <div class="form-group col-12 mt-3">
                            <label for="CognitionQ1" class="lead" style= "font-family: 'Times New Roman'; font-size: 20px;">Concentrating?</label>
                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[0]" class="form-check-input" type="radio" id="inlineRadio1" value=true>
                                <label class="form-check-label" for="inlineRadio1">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[0]" class="form-check-input" type="radio" id="inlineRadio2" value=false>
                                <label class="form-check-label" for="inlineRadio2">No</label>
                            </div>
                        </div>
                        <div class="form-group col-12 mt-3">
                            <label for="CognitionQ2" class="lead" style= "font-family: 'Times New Roman'; font-size: 20px;">Short term memory?</label>
                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[1]" class="form-check-input" type="radio" id="inlineRadio3" value=true>
                                <label class="form-check-label" for="inlineRadio3">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[1]" class="form-check-input" type="radio" id="inlineRadio4" value=false>
                                <label class="form-check-label" for="inlineRadio4">No</label>
                            </div>
                        </div>

                        <div class="input-group row">
                            <p class="col-8" style= "font-family: 'Times New Roman'; font-size: 18px;">Rate the severity of cognition problem (0 being not present, 10 being severe and life disturbing) </p>
                            <select asp-for="AnswerModel.NumberAnswers[0]" id="inputState" class="form-control">
                                <option value="0" selected>0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        break;
                    case 9:
                        Model.AnswerModel.NumberAnswers = new List<string>() { "", "" };

                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">State</th>
                                    <th scope="col">Pre-Covid</th>
                                    <th scope="col">Post-Covid</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style= "font-family: 'Times New Roman'; font-size: 18px;">0 means I am not anxious, 10 means I have extreme anxious.</td>
                                    <td>
                                        <div class="form-group col-10 ml-auto mr-auto">
                                            <label for="inputState">0 - 10</label>
                                            <select asp-for="AnswerModel.NumberAnswers[0]" id="inputState" class="form-control">
                                                <option value="0" selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-10 ml-auto mr-auto">
                                            <label for="inputState">0 - 10</label>
                                            <select asp-for="AnswerModel.NumberAnswers[1]" id="inputState" class="form-control">
                                                <option value="0" selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        break;
                    case 10:
                        Model.AnswerModel.NumberAnswers = new List<string>() { "", "" };

                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">State</th>
                                    <th scope="col">Pre-Covid</th>
                                    <th scope="col">Post-Covid</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>0 means I am not depressed, 10 means I have extreme depression.</td>
                                    <td>
                                        <div class="form-group col-10 ml-auto mr-auto">
                                            <label for="inputState">0 - 10</label>
                                            <select asp-for="AnswerModel.NumberAnswers[0]" id="inputState" class="form-control">
                                                <option value="0" selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-10 ml-auto mr-auto">
                                            <label for="inputState">0 - 10</label>
                                            <select asp-for="AnswerModel.NumberAnswers[1]" id="inputState" class="form-control">
                                                <option value="0" selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        break;
                    case 11:

                        Model.AnswerModel.CheckboxAnswers = new List<bool?>() { false, false, false, false };
                        Model.AnswerModel.NumberAnswers = new List<string>() { "" };

                        <div class="form-group col-12 mt-3">
                            <label for="PTSDQ1" class="lead" style= "font-family: 'Times New Roman'; font-size: 18px;">Have you had any unwanted memories of your illness or hospital admission whilst you were awake, so not counting dreams?</label> <br />
                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[0]" class="form-check-input" type="radio" id="inlineRadio1" value=true>
                                <label class="form-check-label" for="inlineRadio1">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[0]" class="form-check-input" type="radio" id="inlineRadio2" value=false>
                                <label class="form-check-label" for="inlineRadio2">No</label>
                            </div>
                        </div>

                        <div class="form-group col-12 mt-3">
                            <label for="PTSDQ2" class="lead" style= "font-family: 'Times New Roman'; font-size: 28px;"> Have you had any unpleasant dreams about your illness or hospital admission?</label> <br />
                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[1]" class="form-check-input" type="radio" id="inlineRadio3" value=true>
                                <label class="form-check-label" for="inlineRadio3">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[1]" class="form-check-input" type="radio" id="inlineRadio4" value=false>
                                <label class="form-check-label" for="inlineRadio4">No</label>
                            </div>
                        </div>

                        <div class="form-group col-12 mt-3">
                            <label for="PTSDQ3" class="lead" style= "font-family: 'Times New Roman'; font-size: 18px;">Have you tried to avoid thoughts or feelings about your illness or hospital admission?</label> <br />
                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[2]" class="form-check-input" type="radio" id="inlineRadio5" value=true>
                                <label class="form-check-label" for="inlineRadio5">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[2]" class="form-check-input" type="radio" id="inlineRadio6" value=false>
                                <label class="form-check-label" for="inlineRadio6">No</label>
                            </div>
                        </div>

                        <div class="input-group row">
                            <p class="col-8" style= "font-family: 'Times New Roman'; font-size: 18px;">Rate the severity of these stress problems (0 being not present, 10 being severe and life disturbing) </p>
                            <select asp-for="AnswerModel.NumberAnswers[0]" id="inputState" class="form-control">
                                <option value="0" selected>0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>

                        <div class="form-group col-12 mt-3">
                            <label for="PTSDQ4" class="lead" style= "font-family: 'Times New Roman'; font-size: 18px;">Are you currently having thoughts about harming yourself in any way?</label> <br />
                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[3]" class="form-check-input" type="radio" id="inlineRadio1" value=true>
                                <label class="form-check-label" for="inlineRadio7">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[3]" class="form-check-input" type="radio" id="inlineRadio8" value=false>
                                <label class="form-check-label" for="inlineRadio8">No</label>
                            </div>
                        </div>
                        break;

                    case 12:
                        Model.AnswerModel.CheckboxAnswers = new List<bool?>() { false };
                        Model.AnswerModel.NumberAnswers = new List<string>() { "" };

                        <div class="form-group col-12 mt-3">
                            <label for="CommsQ1" class="lead" style= "font-family: 'Times New Roman'; font-size: 18px;">Since your illness have you had new or worsened difficulty with communication/word finding difficulty/ understanding others ?</label> <br />
                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[0]" class="form-check-input" type="radio" id="inlineRadio1" value=true>
                                <label class="form-check-label" for="inlineRadio1">Yes</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input asp-for="AnswerModel.CheckboxAnswers[0]" class="form-check-input" type="radio" id="inlineRadio2" value=false>
                                <label class="form-check-label" for="inlineRadio2">No</label>
                            </div>
                        </div>

                        <div class="input-group row">
                            <p class="col-8" style= "font-family: 'Times New Roman'; font-size: 18px;">Rate the severity of communication problem (0 being not present, 10 being severe and life disturbing)  </p>
                            <select asp-for="AnswerModel.NumberAnswers[0]" id="inputState" class="form-control">
                                <option value="0" selected>0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        break;
                    case 13:
                        Model.AnswerModel.NumberAnswers = new List<string>() { "", "" };

                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">State</th>
                                    <th scope="col">Pre-Covid</th>
                                    <th scope="col">Post-Covid</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style= "font-family: 'Times New Roman'; font-size: 18px;">0 means no problems, 10 means severe or completely unable to walk about.</td>
                                    <td>
                                        <div class="form-group col-10 ml-auto mr-auto">
                                            <label for="inputState">0 - 10</label>
                                            <select asp-for="AnswerModel.NumberAnswers[0]" id="inputState" class="form-control">
                                                <option value="0" selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-10 ml-auto mr-auto">
                                            <label for="inputState">0 - 10</label>
                                            <select asp-for="AnswerModel.NumberAnswers[1]" id="inputState" class="form-control">
                                                <option value="0" selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        break;
                    case 14:
                        Model.AnswerModel.NumberAnswers = new List<string>() { "", "" };
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">State</th>
                                    <th scope="col">Pre-Covid</th>
                                    <th scope="col">Post-Covid</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style= "font-family: 'Times New Roman'; font-size: 18px;">0 means no problems, 10 means completely unable to do or fully dependent on others to help.</td>
                                    <td>
                                        <div class="form-group col-10 ml-auto mr-auto">
                                            <label for="inputState">0 - 10</label>
                                            <select asp-for="AnswerModel.NumberAnswers[0]" id="inputState" class="form-control">
                                                <option value="0" selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-10 ml-auto mr-auto">
                                            <label for="inputState">0 - 10</label>
                                            <select asp-for="AnswerModel.NumberAnswers[1]" id="inputState" class="form-control">
                                                <option value="0" selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        break;
                    case 15:
                        Model.AnswerModel.NumberAnswers = new List<string>() { "", "" };
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">State</th>
                                    <th scope="col">Pre-Covid</th>
                                    <th scope="col">Post-Covid</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style= "font-family: 'Times New Roman'; font-size: 18px;">0 means no problems, 10 means completely unable to do or fully dependent on others to help.</td>
                                    <td>
                                        <div class="form-group col-10 ml-auto mr-auto">
                                            <label for="inputState">0 - 10</label>
                                            <select asp-for="AnswerModel.NumberAnswers[0]" id="inputState" class="form-control">
                                                <option value="0" selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-10 ml-auto mr-auto">
                                            <label for="inputState">0 - 10</label>
                                            <select asp-for="AnswerModel.NumberAnswers[1]" id="inputState" class="form-control">
                                                <option value="0" selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        break;
                    case 16:
                        Model.AnswerModel.NumberAnswers = new List<string>() { "", "" };
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">State</th>
                                    <th scope="col">Pre-Covid</th>
                                    <th scope="col">Post-Covid</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style= "font-family: 'Times New Roman'; font-size: 18px;">0 means no problems, 10 means completely unable to do </td>
                                    <td>
                                        <div class="form-group col-10 ml-auto mr-auto">
                                            <label for="inputState">0 - 10</label>
                                            <select asp-for="AnswerModel.NumberAnswers[0]" id="inputState" class="form-control">
                                                <option value="0" selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-10 ml-auto mr-auto">
                                            <label for="inputState">0 - 10</label>
                                            <select asp-for="AnswerModel.NumberAnswers[1]" id="inputState" class="form-control">
                                                <option value="0" selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        break;
                    case 17:
                        Model.AnswerModel.NumberAnswers = new List<string>() { "", "" };
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">State</th>
                                    <th scope="col">Pre-Covid</th>
                                    <th scope="col">Post-Covid</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style= "font-family: 'Times New Roman'; font-size: 18px;">0 means the worst health you can imagine. </td>
                                    <td>
                                        <div class="form-group col-10 ml-auto mr-auto">
                                            <label for="inputState">0 - 10</label>
                                            <select asp-for="AnswerModel.NumberAnswers[0]" id="inputState" class="form-control">
                                                <option value="0" selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-10 ml-auto mr-auto">
                                            <label for="inputState">0 - 10</label>
                                            <select asp-for="AnswerModel.NumberAnswers[1]" id="inputState" class="form-control">
                                                <option value="0" selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        break;
                    case 18:
                        Model.AnswerModel.TextboxAnswers = new List<string>() { "", "", "", "", "", "", "" };

                        <div class="form-group col-12 mt-3">
                            <label for="Textarea1" class="lead font-weight-bold">What is your employment situation and has your illness affected your ability to do your usual work? Occupation:</label>
                            <textarea asp-for="AnswerModel.TextboxAnswers[0]" class="form-control" id="Textarea1" style="resize: none; margin-left:auto; margin-right:auto;" rows="3"></textarea>
                        </div>

                        <div class="form-group col-12 mt-3">
                            <label for="Textarea2" class="lead font-weight-bold">Employment status before Covid-19 Lockdown: </label>
                            <textarea asp-for="AnswerModel.TextboxAnswers[1]" class="form-control" id="Textarea2" style="resize: none; margin-left:auto; margin-right:auto;" rows="3"></textarea>
                        </div>

                        <div class="form-group col-12 mt-3">
                            <label for="Textarea3" class="lead font-weight-bold">Employment status before you became ill: </label>
                            <textarea asp-for="AnswerModel.TextboxAnswers[2]" class="form-control" id="Textarea3" style="resize: none; margin-left:auto; margin-right:auto;" rows="3"></textarea>
                        </div>

                        <div class="form-group col-12 mt-3">
                            <label for="Textarea4" class="lead font-weight-bold">Employment status now: </label>
                            <textarea asp-for="AnswerModel.TextboxAnswers[3]" class="form-control" id="Textarea4" style="resize: none; margin-left:auto; margin-right:auto;" rows="3"></textarea>
                        </div>

                        <div class="form-group col-12 mt-3">
                            <label for="Textarea5" class="lead font-weight-bold">Do you think your family or carer would have anything to add from their perspective? </label>
                            <textarea asp-for="AnswerModel.TextboxAnswers[4]" class="form-control" id="Textarea5" style="resize: none; margin-left:auto; margin-right:auto;" rows="3"></textarea>
                        </div>

                        <div class="form-group col-12 mt-3">
                            <label for="Textarea6" class="lead font-weight-bold">Are you experiencing any other new problems since your illness we haven’t mentioned?</label>
                            <textarea asp-for="AnswerModel.TextboxAnswers[5]" class="form-control" id="Textarea6" style="resize: none; margin-left:auto; margin-right:auto;" rows="3"></textarea>
                        </div>

                        <div class="form-group col-12 mt-3">
                            <label for="Textarea7" class="lead font-weight-bold">Any other discussion (clinical notes):</label>
                            <textarea asp-for="AnswerModel.TextboxAnswers[6]" class="form-control" id="Textarea7" style="resize: none; margin-left:auto; margin-right:auto;" rows="3"></textarea>
                        </div>
                        break;
                }
            }




            @*<br />
        <br />
        <br />
        <span class="font-italic">*Blank space left for the answer section*</span><br />
        <br />
        <br />
        <br />*@

            <div class="row justify-content-around">

                <button type="submit" class="btn btn-sm btn-outline-secondary" name="submitButton" value="PreviousQuestion">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="22" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                    </svg> Previous Question
                </button>


                <a asp-action="Logout" asp-controller="Home" class="btn btn-danger px-5 btn-sm">Logout</a>

                @if (Model.PatientModel.QuestionId == 18)
                {
                    <button type="submit" class="btn btn-sm btn-outline-primary" name="submitButton" value="SubmitQuestionnaire" onclick="CompletedForm()">
                        Submit Questionnaire
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="22" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                        </svg>
                    </button>
                }
                else
                {
                    <button type="submit" class="btn btn-sm btn-outline-primary" name="submitButton" value="NextQuestion">
                        Next Question
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="22" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                        </svg>
                    </button>
                }


            </div>
        </div>
    </form>
</div>

<script src="~/js/CompleteForm.js"></script>

