@model ElarosApp.Models.PatientModel

<h1>Question @Model.QuestionId</h1>
<p>@Model.Question.QuestionContent</p>

<p>
   




</p>


<a asp-action="Logout" asp-controller="Home">Click here to logout</a>

