@model ElarosApp.Models.PatientModel
<h1 class="display-4 text-center">You have already completed the questionnaire @Model.ReferalCode! <br /><span class="small">Thank you</span></h1>
<div class="row justify-content-center">
    <a asp-action="Logout" asp-controller="Home" class="btn btn-danger px-5 btn-sm">Logout</a>
</div>