@model ElarosApp.Models.Clinician.LoginFormModel
@{
    Layout = "_LayoutClinician";
}

<h1>Logged into Clinician Portal as @Model.Email</h1>

<div class="row justify-content-center">
    <a asp-action="LogoutClinician" asp-controller="Clinician" class="btn btn-danger px-5 btn-sm">Logout</a>
</div>

