@model string


<div class="alert alert-warning" role="alert">
    <strong>Disclaimer:</strong> By completing this questionnaire you consent for us to use the data in audit and research.
</div>

<!doctype html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


    <title>Patient Login</title>
</head>

<body class="bg-light">

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <div class="justify-content-center" id="elarosImage"> <span class="align-text-bottom" style="position:relative; top: 50px; left:22px; text-align:center;"><b>Long-Covid Questionnaire:</b></span></div>
                <div class="row justify-content-center">
                    <div class="col">
                        <form asp-action="OnPost" asp-controller="Home" method="post">
                            <div class="form-group">
                                <label class="text-muted">Referal Code: </label>
                                <input type="text" value="" id="referalCode" name="referalCode" placeholder="A5j2iX" class="fadeIn second" /><br />
                                @if (!string.IsNullOrEmpty(Model) && Model != "true")
                                {
                                    <small class="form-text mb-3 text-danger">@Model is not a valid referal code. If this is a mistake please contact your Clinician about this.</small> }
                                else
                                {
                                    <small class="form-text mb-3">You must enter this exactly as it is in your email.</small>}
                                <button type="submit" class="btn btn-lg btn-primary">Start Questionnaire</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br> <br> <br> <br>

    <!--====================================FOOTER==============================================-->


</body>
</html>
