@model string


<div class="alert alert-warning" role="alert">
    <strong>Disclaimer:</strong> By completing this questionnaire you consent for us to use the data in audit and research.
</div>

<div class="text-center">
    <h1 class="display-4">Please enter your referal code </h1>
    <p>This will be in your email inbox once your clinician has referred you...</p>

    <form asp-action="OnPost" asp-controller="Home" method="post">
        <div class="form-group">
            <label class="text-muted">Referal Code: </label>
            <input type="text" value="" id="referalCode" name="referalCode" placeholder="A5j2iX" class="my-2" /><br />
            @if (!string.IsNullOrEmpty(Model) && Model != "true")
            {
                <small class="form-text mb-3 text-danger">@Model is not a valid referal code. If this is a mistake please contact your Clinician about this.</small>
            }
            else
            {
                <small class="form-text mb-3">You must enter this exactly as it is in your email.</small>
            }
            <button type="submit" class="btn btn-lg btn-primary">Start Questionnaire</button>
        </div>
    </form>
</div>

